body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;


}

.wrapper-center {
	max-width: 1200px;
	margin: auto;
/*	background: url(img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;*/
	
}

a {
	text-decoration: none;
}
.head-logo {
	background: url(img/background.png) center -78px / cover no-repeat;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	height: 508px;
	position: relative;
}
.head-logo__item_block-white {
	background: url(img/polygon.svg) center center / cover no-repeat;
	width: 101%;
	height: 59px;
	position: absolute;
	bottom: -2px;
	left: -2px;
	margin: 0 auto;
	right: 0;
}
.nav * {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;;
}
.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__link {
	width: 239px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000000;
}
.nav__link_logo {
	width: 244px;
	position: relative;
	z-index: 1;
}
.nav__link_logo img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0 auto;
}
.site-navigation {
	list-style: none;
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px
}

.text-intro {
	width: 1200px;
	height: 216px;
	background-color: white;
}

.text-promo {
	font-size: 21px;
	text-align: center;
	padding-top: 61px;
}

.text-intro p {
	text-align: center;
	font-size: 14px;
	color: #333333;
}

.intro-logo {
	/*padding-left: 370px;*/

	

}
.decoration {
	margin-bottom: -28px;
}
.section-1 {
	display: flex;
	width: 1200px;
	height: 256px;
}


.block-1 {
	width: 400px;
	height: 256px;
	background-color: #81b3d2;
	color: white;
	box-sizing: border-box;
	padding-top: 46px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 64px;

}

.block-1 span {
	display:flex;
	justify-content: center;
}

.block-1 p {
	text-align: center;
	padding: 0px;
	margin: 0px;

}


.block-1 span {
	font-size: 21px;
	font-weight: 700;
	text-align: center;
}

 .block-1 .number {
	font-size: 14px;
    margin-bottom: 16px;
    margin-top: 16px;
    font-weight: 400;
}

.block-1 p {
	line-height: 21px;
	font-size: 14px;
	font-weight: 400;

}

.block-2 .fone-1  {
	width: 800px;
	}



.section-2  {
/*	display: flex;
	width: 1200px;
	height: 330px;
	background-color: white;
	margin-top: -144px;*/
}
.elements {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.elements__item {
	width: 400px;
	height: 330px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 60px 70px;
	text-align: center;
}
.elements__icon {
	width: 75px;
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.elements__icon img {
	max-width: 100%;
	max-height: 100%;
}
.elements__icon_food {
	width: 74px;
	height: 70px;
}
.elements__text {
	font-size: 14px;
}
.elements__title {
	font-size: 21px;
	color: #000;
	font-weight: bold;
	margin: 30px 0;
}
.block-3 {
	width: 400px
	height: 330px;
	box-sizing: border-box;
}

.house {
/*	display: flex;
	margin-top: 60px;
	margin-left: auto;
    margin-right: auto;*/
}

.block-3 span {
	font-size: 21px;
	margin-top: 29px;
	position: relative;
	margin-top: 32px;
    margin-right: auto;

}

.block-3 p {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #333333;
	text-align: center;


}

.block-4 {
	width: 400px
	height: 330px;
}

}

}
/*
.navigation {
	font-size: 14px;
	text-decoration: none;
	list-style-type: none;
	font-family: "PT Sans";
	color: #000000;
}


.text_promo {
	display: block;
	justify-content: center;
	width: 440px;
	height: 48px;
	color: #000000;
	font-family: "PT Sans";
}



.sedona {
	padding-left: 530px;
}

.intro {
	padding-left: 370px;
	padding-top: 61px;
}

a.details {
	display: inline-block;
	font-family: "PT Sans";
	color: white;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
	background-color: #81b3d2
}


header {
	color: black;
	background-color: white;
	height: 56px;
}

.cont_form {
	padding: 55px;
}

.cont__title {
	width: 568px;
	height: 86px;
	font-size: 21px;
	background-color: #766357;
	color: #fff;
	text-align: center;
	text-transform: uppercase;

}

.text {
	vertical-align: middle;
	height: 100px;
	line-height: 100px;
	font-family: "PT Sans";
}

.form {
	width: 568px;
	height: 86px;
	background-color: #766357;
	border: 1px solid #766357;
	margin: 250px auto 0 auto;
	color: white;
	font-family: "PT Sans";
	text-align: center;
	font-size: 21px;
	text-transform: uppercase;
}

.cont {
	width: 568px;
	height: 395px;
	background-color: white;
	margin: 250px auto 0 auto;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
	text-transform: uppercase;
}

.cont__form-submit {
	width: 458px;
	height: 58px;
	font-size: 21px;
	background-color: #81b3d2;
	font-family: "PT Sans";
	color: white;
	text-align: center;
	text-transform: uppercase;
	margin-left: 55px;

}

.cont__form-label_date {
    position: relative;

}

.cont__form-item {
      padding: 10px 0;
      width: 100%;     
}


footer {
	width: 100%;
	height: auto;
	background-color: white;
    margin: 0 auto;
    padding-top: 25px;
	opacity: 0.9;
}

.social {
	display: flex;
}

.twitter {
	margin: 2px;
	text-align: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

.test_flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.t-logo {
	text-align: center;
}

.facebook {
	margin: 2px;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

.youtube {
	margin: 2px;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}


footer.logo-a {
	margin-left: 984px;
	margin-bottom: 50px;
}

